* {
  /* boxing-: border-box; */
  padding: 0;
  margin: 0;
}

body {
  background-color: lightblue;
}

.header {
  padding: 75px;
  font-family: monospace;
  color: darkblue;
  text-align: center;
} 

button {
  font-family: monospace;
  color: darkblue;
  background-color: rgb(11, 116, 55);
  font-size: 20px;
  /* text-align: center; */
  margin-left: 575px;
  cursor: pointer;
}

.hidden {
  display: none;
}